<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>gitPub Food</title>
</head>
<body>
    <h1>At foo bar</h1>
    <h2>
        <%= foodInfo.name[0].toUpperCase() + foodInfo.name.slice(1, foodInfo.name.length) %>
    </h2>
    <img src="<%= foodInfo.image%>">
    <h3>Price: $<%= foodInfo.price %></h3>
    <p>
        <a href="<%= /foods/ %>">Back to Home</a>
    </p>
</body>
<style type="text/css">
    body {
        color: coral;
        background-color: lavender;
    }
</style>
</html>